In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [10]:
rawplant = pd.read_csv('../slcapstone/data/plantInfo-raw (1).csv')
rawplant

,Name,sowInstructions,spaceInstructions,harvestInstructions,compatiblePlants,avoidInstructions,culinaryHints,culinaryPreservation,image,url
0,"Amaranth, also Love-lies-bleeding",Sow in garden. Sow seed at a depth approximate...,Space plants: 20 inches apart,Harvest in 7-8 weeks.,"Compatible with (can grow beside): Onions, cor...",NaN,Both leaves and seeds can be used. Excessive i...,NaN,http://gardenate.com/image/1/thumb/150/150,http://gardenate.com/plant/Amaranth
1,"Beans - dwarf, also French beans, Bush beans",Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 2 - 6 inches apart,Harvest in 7-10 weeks. Pick often to encourage...,"Compatible with (can grow beside): Sweetcorn, ...","Avoid growing close to: Alliums (Chives, leek,...","Can be used in salads when young, blanched and...",Will freeze well.,http://gardenate.com/image/43/thumb/150/150; h...,http://gardenate.com/plant/Beans%2B-%2Bdwarf
2,"Sweet corn, also maize",Sow in garden. Sow seed at a depth approximate...,Space plants: 8 - 12 inches apart,Harvest in 11-14 weeks.,"Compatible with (can grow beside): All beans, ...",Avoid growing close to: Celery.,Piick and cook within an hour. Remove the silk...,NaN,http://gardenate.com/image/40/thumb/150/150; h...,http://gardenate.com/plant/Sweet%2Bcorn
3,"Cowpeas, also Black eye peas, Southern peas",Easy to grow. When soil begins to warm up. Aft...,Space plants: Rows 1 Metre apart,Harvest in 11-14 weeks.,NaN,NaN,Young leaves can be cooked and used like spina...,NaN,NaN,http://gardenate.com/plant/Cowpeas
4,"Corn Salad, also Lamb's lettuce or Mache",Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 4 - 6 inches apart,Harvest in 5-8 weeks.,Compatible with (can grow beside): Onions,NaN,Pick individual leaves or harvest the whole pl...,NaN,http://gardenate.com/image/130/thumb/150/150,http://gardenate.com/plant/Corn%2BSalad
...,...,...,...,...,...,...,...,...,...,...
89,"Rosella, also Queensland Jam Plant, Roselle","Sow in garden, or start in seed trays. Sow see...",Space plants: 140 cm apart,Harvest in 21-25 weeks.,"Compatible with (can grow beside): Feverfew, C...",NaN,The large flowers produce a crimson enlarged c...,NaN,http://gardenate.com/image/108/thumb/150/150,http://gardenate.com/plant/Rosella
90,Rosemary,Easy to grow. Plant cuttings . Best planted at...,Space plants: 39 - 59 inches apart,Harvest in approximately 1 years. In warmer ar...,"Compatible with (can grow beside): Beans, Carr...",Avoid growing close to: Potatoes,"Leaves sprinkled on roast potatoes, meat and b...",NaN,http://gardenate.com/image/44/thumb/150/150,http://gardenate.com/plant/Rosemary
91,"Rutabaga, also Swedes",Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 4 - 8 inches apart,Harvest in 10-14 weeks.,"Compatible with (can grow beside): Peas, Beans...",Avoid growing close to: Potatoes,Use when about the size of a tennis ball. The ...,NaN,NaN,http://gardenate.com/plant/Rutabaga
92,"Salsify, also Vegetable oyster",Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 6 - 8 inches apart,Harvest in 14-21 weeks.,"Compatible with (can grow beside): Beans, Bras...",NaN,Wash and scrape the roots then boil before fry...,NaN,http://gardenate.com/image/142/thumb/150/150,http://gardenate.com/plant/Salsify
93,"Sage, also Common Sage",Sow in garden. Sow seed at a depth approximate...,Space plants: 20 inches apart,Harvest in approximately 18 months. Time reduc...,"Compatible with (can grow beside): Broccoli, C...",NaN,The leaves are used to flavour stuffing and me...,NaN,http://gardenate.com/image/3/thumb/150/150; ht...,http://gardenate.com/plant/Sage

In [12]:
people = pd.read_csv('../slcapstone/data/Philpott_etal_GLMMGardenerPlant_dryad.csv')
people

,Survey,Garden,Age,Gender,Region,Education,Years,Hours,LNHours,Motivation,PlantSpp,CropSpp,OrnamSpp,LNPlantSpp,LNCropSpp,LNOrnamSpp,PropCrop
0,103,1,61,Female,NorthAmerica,University,15.0,1.0,0.000000,Environment,10,8,2,2.397895,2.197225,1.098612,0.800000
1,108,1,75,Female,NorthAmerica,University,50.0,3.0,1.098612,Environment,12,10,2,2.564949,2.397895,1.098612,0.833333
2,107,1,78,Female,NorthAmerica,PostHighSchool,60.0,5.0,1.609438,Environment,14,10,4,2.708050,2.397895,1.609438,0.714286
3,105,1,78,Female,NorthAmerica,GraduateDeg,45.0,3.0,1.098612,Food,11,10,1,2.484907,2.397895,0.693147,0.909091
4,63,1,53,Male,NorthAmerica,GraduateDeg,4.0,5.0,1.609438,Food,12,11,1,2.564949,2.484907,0.693147,0.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,100,18,50,Female,NorthAmerica,University,45.0,2.0,0.693147,Recreation,28,22,6,3.367296,3.135494,1.945910,0.785714
162,12,18,39,Male,NorthAmerica,PostHighSchool,18.0,3.0,1.098612,Recreation,11,9,2,2.484907,2.302585,1.098612,0.818182
163,93,18,37,Female,LatinAmerica,PostHighSchool,25.0,7.0,1.945910,Recreation,17,11,6,2.890372,2.484907,1.945910,0.647059
164,102,18,53,Female,NorthAmerica,GraduateDeg,10.0,16.0,2.772589,Recreation,14,12,2,2.708050,2.564949,1.098612,0.857143
165,182,19,33,Male,LatinAmerica,PreHighSchool,5.0,2.5,0.916291,Social,17,15,2,2.890372,2.772589,1.098612,0.882353

In [13]:
URL = 'https://gardeningmentor.com/how-much-do-vegetable-seeds-cost/'
response = requests.get(URL)

In [14]:
response.status_code

200

In [15]:
soup = BS(response.text)

In [16]:
soup.findAll('table')

[<table><tbody><tr><td><strong>Plant</strong></td><td><strong>Price per 50 seeds</strong></td></tr><tr><td>Arugula</td><td>$0.69</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-asparagus-in-a-pot/">Asparagus</a></td><td>$4.38</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-black-beans-in-a-container/">Beans</a></td><td>$3.75</td></tr><tr><td><a href="https://gardeningmentor.com/growing-beets/">Beets</a></td><td>$0.55</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-bok-choy-in-a-pot/" title="How To Grow Bok Choy In A Pot">Bok Choy</a></td><td>$0.69</td></tr><tr><td>Broccoli</td><td>$0.46</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-brussel-sprouts-in-pots/">Brussels Sprouts</a></td><td>$2.75</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-cabbage-in-a-pot/">Cabbage</a></td><td>$0.42</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-carrots/">Carrots</a></td><td>$0.19</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-cauliflower-in-a-pot/">Cauliflower</a></td><td>$0.75</td></tr><tr><td>Celery</td><td>$0.75</td></tr><tr><td>Chard</td><td>$1.50</td></tr><tr><td>Chicory</td><td>$0.99</td></tr><tr><td>Collards</td><td>$0.55</td></tr><tr><td><a href="https://gardeningmentor.com/growing-corn/">Corn</a></td><td>$2.67</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-cucumbers-in-a-5-gallon-bucket/">Cucumbers</a></td><td>$5.50</td></tr><tr><td>Eggplant</td><td>$6.00</td></tr><tr><td>Endive</td><td>$0.42</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-garlic/">Garlic</a></td><td>$3.00</td></tr><tr><td>Horseradish</td><td>$3.00</td></tr><tr><td>Jicama</td><td>$4.00</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-kale-in-a-pot/">Kale</a></td><td>$0.50</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-kohlrabi-in-pots/">Kohlrabi</a></td><td>$0.34</td></tr><tr><td>Leeks</td><td>$0.50</td></tr><tr><td><a href="https://gardeningmentor.com/growing-lettuce/">Lettuce</a></td><td>$0.50</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-mustard-greens-in-a-pot/" title="How To Grow Mustard Greens In A Pot">Mustard Greens</a></td><td>$1.50</td></tr><tr><td><a href="https://gardeningmentor.com/can-okra-be-grown-in-pots/">Okra</a></td><td>$4.58</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-onions-in-a-5-gallon-bucket/">Onions</a></td><td>$0.50</td></tr><tr><td>Orach</td><td>$3.75</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-peas/">Peas</a></td><td>$2.00</td></tr><tr><td><a href="https://gardeningmentor.com/growing-hot-peppers/">Peppers</a></td><td>$6.00</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-potatoes/">Potatoes</a></td><td>$2.50</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-pumpkins-in-a-pot/">Pumpkins</a></td><td>$15.00</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-radishes-in-a-pot/">Radishes</a></td><td>$0.69</td></tr><tr><td>Rhubarb</td><td>$2.50</td></tr><tr><td>Rutabaga</td><td>$0.38</td></tr><tr><td>Scallions</td><td>$1.25</td></tr><tr><td>Sorrel</td><td>$0.63</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-spinach-in-a-pot/">Spinach</a></td><td>$0.55</td></tr><tr><td>Squash</td><td>$6.88</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-sweet-potatoes-in-a-pot/" title="How To Grow Sweet Potatoes In A Pot">Sweet Potatoes</a></td><td>$3.00</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-swiss-chard-in-a-pot/" title="How To Grow Swiss Chard In A Pot">Swiss Chard</a></td><td>$1.50</td></tr><tr><td><a href="https://gardeningmentor.com/grow-tomatoes/">Tomatoes</a></td><td>$6.00</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-turnips-in-containers/">Turnips</a></td><td>$0.50</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-zucchini-in-a-5-gallon-bucket/">Zucchini</a></td><td>$6.88</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-cilantro-in-a-pot/">Cilantro</a></td><td>$1.25</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-basil-in-a-pot/">Basil</a></td><td>$1.38</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-lavender/">Lavender</a></td><td>$1.38</td></tr><tr><td>Rosemary</td><td>$5.00</td></tr><tr><td>Thyme</td><td>$0.47</td></tr><tr><td>Sage</td><td>$1.67</td></tr><tr><td><a href="https://gardeningmentor.com/how-to-grow-mint-in-a-pot/">Mint</a></td><td>$0.75</td></tr><tr><td>Parsley</td><td>$0.31</td></tr><tr><td>Dill</td><td>$0.42</td></tr><tr><td>Fennel</td><td>$0.63</td></tr><tr><td>Chamomile</td><td>$0.46</td></tr><tr><td>Tarragon</td><td>$0.65</td></tr><tr><td>Chives</td><td>$0.42</td></tr><tr><td>Lemongrass</td><td>$3.33</td></tr><tr><td>Oregano</td><td>$0.34</td></tr><tr><td>Marjoram</td><td>$0.10</td></tr><tr><td>Melons</td><td>$10.00</td></tr><tr><td><a href="https://gardeningmentor.com/growing-strawberries/">Strawberries</a></td><td>$0.83</td></tr><tr><td><a href="https://gardeningmentor.com/growing-blueberries/">Blueberries</a></td><td>$8.32</td></tr><tr><td>Pineapple</td><td>$2.50</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-cantaloupe-in-a-5-gallon-bucket/">Cantaloupe</a></td><td>$24.95</td></tr><tr><td><a href="https://gardeningmentor.com/can-you-grow-sugar-baby-watermelons-in-a-pot/">Watermelon</a></td><td>$4.99</td></tr><tr><td>Currants</td><td>$2.00</td></tr><tr><td>Gooseberries</td><td>$9.98</td></tr></tbody></table>]

In [17]:
table_html = str(soup.find('table'))

from IPython.core.display import HTML

HTML(table_html)

In [19]:
cost = pd.read_html(str(soup.find('table')))[0]
cost

               0                   1
0          Plant  Price per 50 seeds
1        Arugula               $0.69
2      Asparagus               $4.38
3          Beans               $3.75
4          Beets               $0.55
..           ...                 ...
65     Pineapple               $2.50
66    Cantaloupe              $24.95
67    Watermelon               $4.99
68      Currants               $2.00
69  Gooseberries               $9.98

[70 rows x 2 columns]

In [26]:
rawplant['Name'] = rawplant['Name'].str.split(',', expand = True)[0]
rawplant['Name'] = rawplant['Name'].str.split('-', expand = True)[0]
rawplant

,Name,sowInstructions,spaceInstructions,harvestInstructions,compatiblePlants,avoidInstructions,culinaryHints,culinaryPreservation,image,url
0,Amaranth,Sow in garden. Sow seed at a depth approximate...,Space plants: 20 inches apart,Harvest in 7-8 weeks.,"Compatible with (can grow beside): Onions, cor...",NaN,Both leaves and seeds can be used. Excessive i...,NaN,http://gardenate.com/image/1/thumb/150/150,http://gardenate.com/plant/Amaranth
1,Beans,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 2 - 6 inches apart,Harvest in 7-10 weeks. Pick often to encourage...,"Compatible with (can grow beside): Sweetcorn, ...","Avoid growing close to: Alliums (Chives, leek,...","Can be used in salads when young, blanched and...",Will freeze well.,http://gardenate.com/image/43/thumb/150/150; h...,http://gardenate.com/plant/Beans%2B-%2Bdwarf
2,Sweet corn,Sow in garden. Sow seed at a depth approximate...,Space plants: 8 - 12 inches apart,Harvest in 11-14 weeks.,"Compatible with (can grow beside): All beans, ...",Avoid growing close to: Celery.,Piick and cook within an hour. Remove the silk...,NaN,http://gardenate.com/image/40/thumb/150/150; h...,http://gardenate.com/plant/Sweet%2Bcorn
3,Cowpeas,Easy to grow. When soil begins to warm up. Aft...,Space plants: Rows 1 Metre apart,Harvest in 11-14 weeks.,NaN,NaN,Young leaves can be cooked and used like spina...,NaN,NaN,http://gardenate.com/plant/Cowpeas
4,Corn Salad,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 4 - 6 inches apart,Harvest in 5-8 weeks.,Compatible with (can grow beside): Onions,NaN,Pick individual leaves or harvest the whole pl...,NaN,http://gardenate.com/image/130/thumb/150/150,http://gardenate.com/plant/Corn%2BSalad
...,...,...,...,...,...,...,...,...,...,...
89,Rosella,"Sow in garden, or start in seed trays. Sow see...",Space plants: 140 cm apart,Harvest in 21-25 weeks.,"Compatible with (can grow beside): Feverfew, C...",NaN,The large flowers produce a crimson enlarged c...,NaN,http://gardenate.com/image/108/thumb/150/150,http://gardenate.com/plant/Rosella
90,Rosemary,Easy to grow. Plant cuttings . Best planted at...,Space plants: 39 - 59 inches apart,Harvest in approximately 1 years. In warmer ar...,"Compatible with (can grow beside): Beans, Carr...",Avoid growing close to: Potatoes,"Leaves sprinkled on roast potatoes, meat and b...",NaN,http://gardenate.com/image/44/thumb/150/150,http://gardenate.com/plant/Rosemary
91,Rutabaga,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 4 - 8 inches apart,Harvest in 10-14 weeks.,"Compatible with (can grow beside): Peas, Beans...",Avoid growing close to: Potatoes,Use when about the size of a tennis ball. The ...,NaN,NaN,http://gardenate.com/plant/Rutabaga
92,Salsify,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 6 - 8 inches apart,Harvest in 14-21 weeks.,"Compatible with (can grow beside): Beans, Bras...",NaN,Wash and scrape the roots then boil before fry...,NaN,http://gardenate.com/image/142/thumb/150/150,http://gardenate.com/plant/Salsify
93,Sage,Sow in garden. Sow seed at a depth approximate...,Space plants: 20 inches apart,Harvest in approximately 18 months. Time reduc...,"Compatible with (can grow beside): Broccoli, C...",NaN,The leaves are used to flavour stuffing and me...,NaN,http://gardenate.com/image/3/thumb/150/150; ht...,http://gardenate.com/plant/Sage

In [29]:
rawplant.drop(columns =['culinaryHints','culinaryPreservation', 'image', 'url'])

,Name,sowInstructions,spaceInstructions,harvestInstructions,compatiblePlants,avoidInstructions
0,Amaranth,Sow in garden. Sow seed at a depth approximate...,Space plants: 20 inches apart,Harvest in 7-8 weeks.,"Compatible with (can grow beside): Onions, cor...",NaN
1,Beans,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 2 - 6 inches apart,Harvest in 7-10 weeks. Pick often to encourage...,"Compatible with (can grow beside): Sweetcorn, ...","Avoid growing close to: Alliums (Chives, leek,..."
2,Sweet corn,Sow in garden. Sow seed at a depth approximate...,Space plants: 8 - 12 inches apart,Harvest in 11-14 weeks.,"Compatible with (can grow beside): All beans, ...",Avoid growing close to: Celery.
3,Cowpeas,Easy to grow. When soil begins to warm up. Aft...,Space plants: Rows 1 Metre apart,Harvest in 11-14 weeks.,NaN,NaN
4,Corn Salad,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 4 - 6 inches apart,Harvest in 5-8 weeks.,Compatible with (can grow beside): Onions,NaN
...,...,...,...,...,...,...
89,Rosella,"Sow in garden, or start in seed trays. Sow see...",Space plants: 140 cm apart,Harvest in 21-25 weeks.,"Compatible with (can grow beside): Feverfew, C...",NaN
90,Rosemary,Easy to grow. Plant cuttings . Best planted at...,Space plants: 39 - 59 inches apart,Harvest in approximately 1 years. In warmer ar...,"Compatible with (can grow beside): Beans, Carr...",Avoid growing close to: Potatoes
91,Rutabaga,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 4 - 8 inches apart,Harvest in 10-14 weeks.,"Compatible with (can grow beside): Peas, Beans...",Avoid growing close to: Potatoes
92,Salsify,Easy to grow. Sow in garden. Sow seed at a dep...,Space plants: 6 - 8 inches apart,Harvest in 14-21 weeks.,"Compatible with (can grow beside): Beans, Bras...",NaN
93,Sage,Sow in garden. Sow seed at a depth approximate...,Space plants: 20 inches apart,Harvest in approximately 18 months. Time reduc...,"Compatible with (can grow beside): Broccoli, C...",NaN

In [24]:
pd.read_csv('../slcapstone/data/pests.csv')

                               plants            Repels
0                            Lavender             fleas
1                            Lavender             moths
2                            Lavender            snails
3                            Lavender         mosquitos
4                      Chrysanthemums              ants
5                      Chrysanthemums             ticks
6                      Chrysanthemums             fleas
7                      Chrysanthemums       spidermites
8                      Chrysanthemums           roaches
9                      Chrysanthemums  japanese beetles
10                     Chrysanthemums          bed bugs
11                              Basil         mosquitos
12                              Basil       house flies
13                        Nasturtiums            aphids
14                        Nasturtiums       white flies
15                         Lemongrass         mosquitos
16                          Marigolds         mosquitos
17                          Marigolds            snails
18                          Marigolds         nematodes
19                          Marigolds            aphids
20                        Lemon Thyme         mosquitos
21                               Mint         mosquitos
22                               Mint            snails
23                               Mint              ants
24                           Petunias            aphids
25                           Petunias  japanese beetles
26                           Petunias      leaf hoppers
27                           Rosemary            snails
28                           Rosemary         mosquitos
29  Rue (toxic to humans and animals)              cats
30                           Gerarium             wasps
31                            Oregano              deer
32                     Society Garlic            snakes
33                               Dill              bugs

In [30]:
pd.read_csv('../slcapstone/data/phzm_us_zipcode_2023.csv')

       zipcode zone     trange      zonetitle
0          501   7b    5 to 10    7b: 5 to 10
1          544   7b    5 to 10    7b: 5 to 10
2         1001   6b    -5 to 0    6b: -5 to 0
3         1002   6a  -10 to -5  6a: -10 to -5
4         1003   6a  -10 to -5  6a: -10 to -5
...        ...  ...        ...            ...
39916    99363   7b    5 to 10    7b: 5 to 10
39917    99371   7a     0 to 5     7a: 0 to 5
39918    99401   7a     0 to 5     7a: 0 to 5
39919    99402   7a     0 to 5     7a: 0 to 5
39920    99403   7b    5 to 10    7b: 5 to 10

[39921 rows x 4 columns]

In [31]:
uszip = pd.read_csv('../slcapstone/data/uszips.csv')

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16834.0,100.9,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37642.0,479.2,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49075.0,551.7,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5590.0,48.7,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,25542.0,265.7,72011,Añasco,"{""72011"": 96.7, ""72099"": 2.81, ""72083"": 0.37, ...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,NaN,25.0,0.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33784,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,NaN,920.0,6.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33785,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1465.0,4.3,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33786,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,14.0,1.2,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33787,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2133.0,0.3,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka